<section class="slider d-flex align-items-center" style="background: url(./assets/slider.jpg) no-repeat;">
  <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-content_wrap">
                <h1>See which bars are hoppin' tonight and RSVP ahead of time!</h1>
                <h5>Remember: take a cab and drink responsibly.</h5>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <form class="form-wrap mt-4" [formGroup]="form" (submit)="submit()">
                <div class="row" role="group" aria-label="Basic example">
                  <input type="text" formControlName="search_area" placeholder="Type your place?" class="col-md-8 btn-group1">

                  <button type="submit" class="btn-form">
                    <span class="icon-magnifier search-icon"></span>SEARCH
                    <i class="pe-7s-angle-right"></i>
                  </button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="main_body" *ngIf="business.length;else loaded">
  <div class="container m-5 p-5 ">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of business ">
        <div class="card">
          <img class="card-img-top" class="img-fluid" [src]="item.image_url" alt="">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
              <span>Rating : {{item.rating}}</span>
              <span> <a href="" [ngClass]="item.is_closed?'close':'open'" class="btn  btn-chek ">{{item.is_closed?'Closed':'Open'}}</a></span>
            </p>
            <a  *ngIf="auth.is_Login" (click)="iamGoing(item.id)" class="btn btn-primary">Going <span >({{item.going}})</span></a>
            <a  *ngIf="!auth.is_Login" (click)="navigate()" class="btn btn-primary">Going </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <app-loader *ngIf="loading"></app-loader>
<ng-template #loaded *ngIf="!loading">
  No data Found
</ng-template>